/* Warna khusus untuk setiap card */
.card-peminjaman-aktif .dashboard-card-icon {
  background-color: #3498db;
}

.card-buku-dikembalikan .dashboard-card-icon {
  background-color: #2ecc71;
}

.card-total-buku .dashboard-card-icon {
  background-color: #9b59b6;
}

.card-total-denda .dashboard-card-icon {
  background-color: #e74c3c;
}

.section-title {
  color: var(--primary-color);
  margin-bottom: 20px;
}
